body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}
h1 {
  background: #ddd;
  padding: 5px;
  font-weight: 100;
  text-align: center;
  margin: 0;
}

#main {
  flex-grow: 1;
  display: flex;
}
.col {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column
}
.col:not(:last-child) {
  border-right: 1px solid #ddd;
}
.col > h2 {
  background: #ddd;
  font-weight: 100;
  text-align: center;
  margin: 0;
  padding: 5px;
}
.col-content {
  flex-grow: 1;
  position: relative;
  max-width: calc(100vw / 3); /* flaexbox fails me */
  overflow: scroll;
}

/*.col-content > * {
  width: 100%;
  overflow: scroll;
  position: relative;
  height: 100%;
}*/


.rendered-tree-node {
  font-size: 10pt;
  background: lightblue;
  border: 1px solid teal;
  border-radius: 5px;
  padding: 2px;
  cursor: default;
  transition: transform .2s;
  transform: scale(1);
}
.rendered-tree-node:hover {
  transform: scale(1.1);
}

#toolbar {
  background: rgba(0, 0, 0, 0.07);
  padding: 5px;
  display: flex;
  justify-content: center;
}

#toolbar button {
  width: 50px;
  height: 50px;
  margin: 0 2.5px;
  appearance: none;
  background: white;
  border: 1px solid #bbb;
  text-align: center;
  transition: transform .2s;
  transform: scale(1);
}
#toolbar button:disabled {
  background: #bbb;
}
#toolbar button:not(:disabled):hover {
  transform: scale(1.1);
}

#results {
  padding: 5px;
  margin: 0;
}